
<div class="contaier bg-white mt-5">
  <h1 class="text-center">Bienvenidos</h1>
</div>

<div class="container mb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline elements
      </span>
    </div>
  </nav>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-center ">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">JapanesName</th>
            <th scope="col">Ability</th>
            <th scope="col">Nacionality</th>
            <th scope="col">CatchPrhrase</th>
            <th scope="col">Family</th>
            <th scope="col">Chapter</th>
            <th scope="col">Living</th>
            <th scope="col">IsHuman</th>
            <th scope="col">Stand</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of personas" class="align-center">
            <th scope="row" class="text-center">{{item.id}}</th>
            <td class="text-center">
              <div>
                {{item.name}}
              </div>
              <div class="mt-3">
                <img class="mx-auto d-block" style="width:100%" [src]=convertir(item.image) alt="">
              </div>
              
            </td>      
            <td class="text-center">{{item.japaneseName}}</td>
            <td >
              <ul *ngFor="let items2 of Organizar(item.abilities)">
                <li>{{items2}}</li>
              </ul>
            </td>
            <td class="text-center">{{item.nationality}}</td>
            <td class="text-center align-items-center">
             
                <em>"{{item.catchphrase}}"</em>
            
            </td>
            <td>
              <ul *ngFor="let items2 of Organizar(item.family)">
                <li>{{items2}}</li>
              </ul>
            </td>
            <td>
              <ul *ngFor="let items2 of Organizar(item.chapter)">
                <li>{{items2}}</li>
              </ul>
            </td>
            <td class="text-center">{{verificar(item.isHuman)}}</td>
            <td class="text-center">{{verificar(item.living)}}</td>
            <td class="text-center ">    
              <div>{{buscarStand(item.id)}}</div>
              <div class="mx-auto d-inline ">
                <img class="mt-2 " style="width:100%" [src]=imagenStand alt="">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>